body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(149, 11, 11);  
    color:white;  
    text-align: center;
    padding: 10px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
}

.info-content {
    flex: 1; /* Ocupa todo el espacio disponible */
}

.qr-code img {
    max-width: 100%; /* Hace que la imagen del código QR no se extienda más allá del contenedor */
    height: auto;
}

#galeria-sumo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    overflow-x: auto;
}

#galeria-sumo img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-right: 10px;
}

footer {
    background-color: rgb(149, 11, 11);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos generales para pantallas más grandes */
@media screen and (min-width: 600px) {
    body {
        font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
    }

    section {
        flex-direction: row; /* Alinear horizontalmente en pantallas más grandes */
    }

    .info-content {
        margin-right: 20px; /* Agrega un espacio entre el contenido y el código QR */
    }
}

/* Estilos para pantallas más pequeñas, como teléfonos móviles */
@media screen and (max-width: 600px) {
    header {
        font-size: 1.5em; /* Ajusta el tamaño de la fuente del encabezado para dispositivos móviles */
    }

    section {
        flex-direction: column; /* Alinear verticalmente en pantallas más pequeñas */
    }

    .info-content {
        margin-right: 0; /* Elimina el espacio entre el contenido y el código QR en pantallas pequeñas */
    }

    .qr-code {
        margin-top: 20px; /* Agrega espacio encima del código QR en pantallas pequeñas */
    }

    #galeria-sumo {
        flex-wrap: wrap; /* Permite que las imágenes se envuelvan en pantallas pequeñas */
    }

    #galeria-sumo img {
        margin-bottom: 10px; /* Agrega espacio entre las imágenes en pantallas pequeñas */
    }
}

